body{
    background-size: cover;
    font-family: 'Lobster Two', cursive;

}
.heading{
    font-size: 23px;
    width: 100%;
    margin: 0px;
}
#input_box{
    width: 20%;
}
#start, #number_of_objects, #status{
    font-size: 20px;
}
.copy_right_footer{
    position: fixed;
    margin: 0px;
    background-color: grey;
    color: antiquewhite;
    text-align: center;
    line-height: 3;
    bottom: 0;
    width: 100%;
}
canvas{
    border: 2px solid white;
    border-radius: 10px;
    margin-top: 130px;
    box-shadow: 5px 5px 5px white;
}